.field_name {
    font-weight: bold;
    font-size: 14px;
  }

  .form-control{
    font-size:14px
  }

  .plan{
    border-radius: 12px;
    overflow: hidden; /* To ensure rounded corners are visible */
    background-color:black;
    font-size:14px;
    text-align: center;
  }
    /* .plan th{
        background-color:#004161;
    } */

  .dropdown-font {
    font-size: 12px;  /* Adjust this value to make the font smaller or larger */
  }
  
  .dropdown-font option {
    font-size: 12px;  /* Apply the font-size to the options as well */
  }
  .table thead tr:nth-child(1) th {
    background-color: #004161;  /* Set background color to red */
    color: white;           /* Optional: Set font color to white */
    font-weight: bold;      /* Optional: Make the text bold */
  }
  
  .table thead tr:nth-child(2) th {
    background-color: #c9d213;  /* Set background color to red */
    color:  #004161;           /* Optional: Set font color to white */
    font-weight: bold;      /* Optional: Make the text bold */

  }
  
  /* Three dots loading animation */
.loading-dots {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-dots span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #000;
    animation: dot 1.5s infinite ease-in-out;
  }
  
  .loading-dots span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .loading-dots span:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .loading-dots span:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes dot {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  