.field_name {
    font-weight: bold;
    font-size: 14px;
  }

  .form-control{
    font-size:14px;
    min-width: 100px; /* Adjust as needed */
  }

  .plan{
    border-radius: 12px;
    overflow: hidden; /* To ensure rounded corners are visible */
    background-color:black;
    font-size:14px;
    text-align: center;
  }
    /* .plan th{
        background-color:#004161;
    } */

  .dropdown-font {
    font-size: 12px;  /* Adjust this value to make the font smaller or larger */
  }
  
  .dropdown-font option {
    font-size: 12px;  /* Apply the font-size to the options as well */
  }
  .table thead tr:nth-child(1) th {
    background-color: #004161;  /* Set background color to red */
    color: white;           /* Optional: Set font color to white */
    font-weight: bold;      /* Optional: Make the text bold */
  }
  
  .table thead tr:nth-child(2) th {
    background-color: #c9d213;  /* Set background color to red */
    color:  #004161;           /* Optional: Set font color to white */
    font-weight: bold;      /* Optional: Make the text bold */

  }
  .form-select.dropdown-font {
    min-width: 100px; /* Adjust as needed */
    white-space: normal; /* Allow wrapping of text */
    overflow: visible; /* Ensure dropdown fully shows content */
  }
  /* Scrollable Modal */
.modal-dialog {
  max-width: 1000px; /* Adjust the modal width if needed */
}

.modal-content {
  height: 800px; /* Fixed height for the modal */
  display: flex;
  flex-direction: column;
}

.modal-body {
  overflow-y: auto; /* Scroll when content exceeds height */
  flex: 1; /* Allow body to take remaining space */
  padding: 1rem; /* Adjust padding */
}

.modal-header,
.modal-footer {
  flex-shrink: 0; /* Prevent shrinking */
}
